body {
    background: 
    -webkit-linear-gradient(to right, #ffffff , #f2f2f2);
    background: 
    linear-gradient(to right, #ffffff, #f2f2f2);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    min-height: 90vh;
}

.login {
    color: rgb(0, 0, 0);
    background: #ffffff;
    margin: auto;
    box-shadow: 
      0px 2px 10px rgba(0,0,0,0.2), 
      0px 10px 20px rgba(0,0,0,0.3), 
      0px 30px 60px 1px rgba(0,0,0,0.5);
    border-radius: 8px;
    padding: 50px;
}
.login .head {
    display: flex;
    align-items: center;
    justify-content: center;
}
.login .head .title {
    font-size: 2.2em;
}
.login .msg {
    text-align: center;
}

.login .form input[type=text].text {
    border: none;
    background: none;
    box-shadow: 0px 2px 0px 0px black;
    width: 100%;
    color: black;
    font-size: 1em;
    outline: none;
    margin-bottom: 10px;
    margin-top: 10px;
}

.login .form .text::placeholder {
    color: #000000;
}
.login .form input[type=email].email {
    border: none;
    background: none;
    box-shadow: 0px 2px 0px 0px black;
    width: 100%;
    color: black;
    font-size: 1em;
    outline: none;        
    margin-bottom: 10px;
    margin-top: 10px;
}
.login .form .email::placeholder {
    color: #000000;
}

.login .form input[type=password].password {
    border: none;
    background: none;
    box-shadow: 0px 2px 0px 0px black;
    width: 100%;
    color: black;
    font-size: 1em;
    outline: none;
    margin-bottom: 20px;
    margin-top: 10px;
}
.login .form .password::placeholder {
    color: black;
}

.login .form .checkbox{
    margin-top: 1vh;
    margin-bottom: 4vh;

}

.login .form .btn-login {
    background: none;
    color: rgb(41, 41, 41);
    border-radius: 3px;

    padding: 4px 2em;
    transition: 0.5s;
    margin-bottom: 15px;
    margin-top: 15px;
    border-width: 1px;
}
.login .form .btn-login:hover {
    background: #ffbc0d;
    color: black;
    transition: 0.5s;
}

.date{
    margin-top: 10px;
    color :black;
    border-style: none;
    box-shadow: 0px 2px 0px 0px black;
    width: 100%;
    font-size: 1em;
}

.date:hover{
    outline: none;
}

/*== HEADER ==*/

header {
    position: fixed;
    color: black;
    padding-left: 20px;
}
header p {
    position: sticky;
}

header a {
    color: #c18e0e;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 90vh;
    margin : 0px;
    flex : 10%;
    animation: wheelHueColor2 60s infinite;

}
  
a:hover{
    color: #ffbc0d;
    border-width: 4px;
    animation: wheelHueColor 8s infinite;
}


@keyframes wheelHueColor {
    from, to { border-color: #ffbc0d; }
    25%      { border-color: #ff820d; }
    50%      { border-color: #ff3d0d; }
    75%      { border-color: #ff820d; }
    90%      { border-color: #ffbc0d;}
}

@keyframes wheelHueColor2 {
    from, to { background-color: rgb(236, 236, 236); }
    60%      { background-color: rgb(236, 236, 236);}
    75%      { background-color: #ffd978; }
    80%      { background-color: rgb(236, 236, 236);}
}