html {
    font-family: Arial, Helvetica, sans-serif;
    max-width: calc(100% - 1px);
    min-height: 100%;
    margin : 0;
    animation: wheelHueColor2 60s infinite;
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
}


a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: #ffbc0d;
    border-width: 4px;
    animation: wheelHueColor 8s infinite;

}

/*======*/
/*HEADER*/
/*======*/

header{
    position: sticky;
    top:0;
    background-color:white;
    border-style: solid;
    border-color: lightgray;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;

    font-size: x-large;

    display:flex;
    justify-content: space-between;
}
  
  /* Style the header links */
header nav{
    padding-top: 8px;
	padding-bottom: 0;
    margin:4px;
}

  /* Change the background color on mouse-over */
  
.flexitemlink a:hover {
    border-radius: 3px;
    padding: 1px;

	background-color: #FFBC0D;
	color: white;
}
  
  /* Style the active/current link*/
header a#active {
    border-radius: 3px;
    padding: 3px;

	background-color: #FFBC0D;
	color: white;
}

#flexitem1{
    margin-left: 2%;
    font-weight:300;
}

#flexitem2{
    font-weight:300;
}

#flexitem3{
    margin-right: 2%;
    font-weight:300;
}

#searchbar{
    font-size: x-large;
}
/*====*/
/*BODY*/
/*====*/

h1{
font-size: 50px;
font-weight: bold;
text-align: left;
}

#top{
    margin: 1%;
    margin-bottom: 1%;
}
#top p{
    font-size:x-large;
    text-align: justify;
}

/*=====*/
/*GRID*/
/*====*/

.grid-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    text-align: center;
    font-weight: bolder;
    font-size: x-large;
}

.grid-container img{
    width: 390px;
}

.grid-item{
    color: rgb(0, 0, 0);
    margin:2vh;
    background-color: white;
    border: 1px solid #d3d3d3;
    border-radius: 6px;
}

.grid-item-1:hover{
    border: 2px solid #ffbc0d;
}

#classique{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:1 ;
    grid-row-end:2;
}

#mois{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:1 ;
    grid-row-end:2;
}

#super{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

#samourai{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
}

#poulet{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#vege{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end:3;
}

/*======*/
/*FOOTER*/
/*======*/

footer {
    background-color: #ffffff;
    color: #000000;
    border-style: solid;
    border-color: lightgray;
    border-width: 2px;
    padding : 1%;
    font-size: large;
    
    display: flex;
    justify-content: space-between;
}

.rowa {
    text-align: left;
    margin-left: 2%;
}

.rowb {
    text-align: center;
}

.rowc{
    text-align: right;
    margin-right: 2%;
}

@media (max-height: 600px){
    header{
        position:relative;
    }
    footer{
        display: none;
    }
}

@media (max-width: 600px){
    #searchbar{
        display: none;
    }
    footer{
        display: none;
    }
}

@media (min-width: 1400px){
    .grid-container{
        margin-left: 16%;
        margin-right: 16%;
    }
    #top{
        margin-left: 17%;
        margin-right: 17%;
    }
}

@keyframes wheelHueColor {
    from, to { border-color: #ffbc0d; }
    25%      { border-color: #ff820d; }
    50%      { border-color: #ff3d0d; }
    75%      { border-color: #ff820d; }
    90%      { border-color: #ffbc0d;}
}

@keyframes wheelHueColor2 {
    from, to { background-color: rgb(236, 236, 236); }
    60%      { background-color: rgb(236, 236, 236);}
    75%      { background-color: #ffd978; }
    80%      { background-color: rgb(236, 236, 236);}
}