html {
    font-family: 'Raleway', Arial, sans-serif;
    min-height: 90vh;
    margin : 0px;
    flex : 10%;
    animation: wheelHueColor2 60s infinite;

}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: #ffbc0d;
    border-width: 4px;
    animation: wheelHueColor 8s infinite;

}


body{
	margin: 0%;
  }

/*======*/
/*HEADER*/
/*======*/

header{
    position: sticky;
    top:0;
    background-color:white;
    border-style: solid;
    border-color: lightgray;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;

    font-size: x-large;

    display:flex;
    justify-content: space-between;
}
  
  /* Style the header links */
header nav{
    padding-top: 8px;
	padding-bottom: 0;
    margin:4px;
}

  /* Change the background color on mouse-over */
  
.flexitemlink a:hover {
    border-radius: 3px;
    padding: 1px;

	background-color: #FFBC0D;
	color: white;
}
  
  /* Style the active/current link*/
header a#active {
    border-radius: 3px;
    padding: 3px;

	background-color: #FFBC0D;
	color: white;
}

#flexitem1{
    margin-left: 2%;
    font-weight:300;
}

#flexitem2{
    font-weight:300;
}

#flexitem3{
    margin-right: 2%;
    font-weight:300;
}

#searchbar{
    font-size: x-large;
}
/*====*/
/*BODY*/
/*====*/

h1{
font-size: 50px;
font-weight: bold;
text-align: left;
}

#top{
    margin: 1%;
    margin-bottom: 1%;
}
#top p{
    font-size:x-large;
    text-align: justify;
}



  .grid-item-1 {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 5;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
   
}
.grid-item-1 img {
    width: 400px;
    height: 250px;

}

.grid-item {
    /* height: 150px; */
    counter-increment: my-counter;
    border-style: solid;
    border-color: white;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 90vh;
    margin : 0px;
    flex : 10%;
    animation: wheelHueColor2 60s infinite;

}
  
a:hover{
    color: #ffbc0d;
    border-width: 4px;
    animation: wheelHueColor 8s infinite;
}

@keyframes wheelHueColor {
    from, to { border-color: #ffbc0d; }
    25%      { border-color: #ff820d; }
    50%      { border-color: #ff3d0d; }
    75%      { border-color: #ff820d; }
    90%      { border-color: #ffbc0d;}
}

@keyframes wheelHueColor2 {
    from, to { background-color: rgb(236, 236, 236); }
    60%      { background-color: rgb(236, 236, 236);}
    75%      { background-color: #ffd978; }
    80%      { background-color: rgb(236, 236, 236);}
}

.parallax-effect {
	background-image: url("https://cutt.ly/T0nc0ks");
	min-height: 550px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
  }
#background-para{
	height: 50%; 
	background-image: linear-gradient(to right top, #ffffff, #ffbf01); 
	font-size: 36px; 
	text-align: center; 
	border: 2px;
	border-style: solid;
	
}
#background-para p{
	text-align: justify;
	margin: 3%;
	margin-bottom: 5%;
	margin-top:5%;
	margin-left:5%;
	margin-right:5% ;
	text-align: center;
}

  .parallax-effect2 {
	background-image: url("https://e0.pxfuel.com/wallpapers/121/726/desktop-wallpaper-romaine-lettuce.jpg");
	min-height: 550px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
  }
  #background-para1{
	height: 50%; 
	background-image: linear-gradient(to right top, #fff, #64bf2b); 
	font-size: 36px; 
	text-align: center; 
	border: 2px;
	border-style: solid;
  }

  #background-para1 p{
	margin-bottom: 5%;
	margin-top:5%;
	margin-left:5%;
	margin-right:5% ;
  }

  .parallax-effect3 {
	background-image: url("https://tinyurl.com/4wcnfjjh");
	min-height: 550px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
	
  }
  #background-para2{
	height: 500px;
	background-image: linear-gradient(to right top, #fff, #ff0000); 
	font-size: 36px; 
	text-align: center; 
	border: 2px;
	border-style: solid;

}

#background-para2 p{

	margin-bottom: 5%;
	margin-top:5%;
	margin-left:5%;
	margin-right:5% ;

}

h1{
	margin: 0%;
	text-align: center;
	
}


/*======*/
/*FOOTER*/
/*======*/

footer {
    background-color: #ffffff;
    color: #000000;
    border-style: solid;
    border-color: lightgray;
    border-width: 2px;
    padding : 1%;
    font-size: large;
    
    display: flex;
    justify-content: space-between;
}

.rowa {
    text-align: left;
    margin-left: 2%;
}

.rowb {
    text-align: center;
}

.rowc{
    text-align: right;
    margin-right: 2%;
}


