body{
    background: rgb(243, 243, 243);
    font-family: Arial, Helvetica, sans-serif;
    min-height: 90vh;
    margin : 0px;
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: #ffbc0d;
}

/*======*/
/*HEADER*/
/*======*/

header{
    position: sticky;
    top:0;
    background-color:white;
    border-style: solid;
    border-color: lightgray;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;

    font-size: x-large;

    display:flex;
    justify-content: space-between;
}
  
  /* Style the header links */
header nav{
    padding-top: 8px;
	padding-bottom: 0;
    margin:4px;
}

  /* Change the background color on mouse-over */
  
.flexitemlink a:hover {
    border-radius: 3px;
    padding: 1px;

	background-color: #FFBC0D;
	color: white;
}
  
  /* Style the active/current link*/
header a#active {
    border-radius: 3px;
    padding: 3px;

	background-color: #FFBC0D;
	color: white;
}

#flexitem1{
    margin-left: 2%;
    font-weight:300;
}

#flexitem2{
    font-weight:300;
}

#flexitem3{
    margin-right: 2%;
    font-weight:300;
}

#searchbar{
    font-size: x-large;
}

/*====*/
/*MAIN*/
/*====*/

#top{
    margin: 1%;
    margin-bottom: 2%;
}

h1{
    font-size: 45px;
    font-weight: bold;
    text-align: left;
    margin-top : 5px;
}

h2{
    font-size : 40px;
    margin-bottom : 1%;
}

#toptext{
    font-size:x-large;
    text-align: justify;
}

#navtool{
    margin-bottom: 5px;
    font-size: 20px;
}

#navtool a{
    text-decoration:none;
}

/*======*/
/* BODY */
/*======*/

.box{
    color: rgb(0, 0, 0);
    background-color: white;
    border: 1px solid #d3d3d3;
    border-radius: 12px;
}

#flex-container{
    display: flex;
}

#flex-item-1{
    flex:1;
    margin-left:6%;
}

.grid-container{
    display:grid;
    grid-template-columns: 1fr;

    font-weight: bolder;
    font-size: x-large;
    margin-left: 10%;
}

#grid-item-1{
    grid-column-start: 1;
    grid-column-end:2;
    grid-row-start: 1;
    grid-row-end:2;

    margin : 0;
    padding:0;
    font-size: 55px;
    font-weight: bolder;
    margin-right : 15%;
}

#grid-item-2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end:3;

    margin-right : 10%;
    font-size: 25px;
}

#grid-item-3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end:4;

    margin-right : 5%;
    font-size: 25px;
    font-weight: 100;
    text-align: justify;
}
/*======*/
/*FOOTER*/
/*======*/

footer {
    left: 0;
    bottom: 0;
    background-color: #ffffff;
    color: #000000;
    border-style: solid;
    border-color: lightgray;
    border-width: 2px;
}

footer .row1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.titrefooter {
    text-align: center;
}

.rowa {
    text-align: left;
    margin-left: 2%;
}

.rowb {
    text-align: center;
}

.rowc{
    text-align: right;
    margin-right: 2%;
}

ul{
    font-size: 23px;
}
/*===========*/
/*MEDIA QUERI*/
/*===========*/


@media (max-height: 600px){
    header{
        position:relative;
    }
    footer{
        display: none;
    }
}

@media (max-width: 600px){
    #searchbar{
        display: none;
    }
    footer{
        display: none;
    }
}

@media (max-width: 660px){
    #flex-item-1{
        display: none;
    }
}

@media (min-width: 1400px){
    .main{
        margin-left: 400px;
        margin-right: 400px;
    }
    footer{
        margin-left: 0;
        margin-right: 0;
    }
}